.item{
    margin: 1vh 1vw;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    border: 1px solid white;
    outline: none;
    background-color: rgba(115, 216, 149, 0.6);
}
.item:hover{
    background-color: rgba(115, 216, 149, 1);
}