$sub-color: rgb(22, 209, 209);
$main-color: grey;

.create-task {
  width: 35vw;

  .title {
    margin: 2vh 0;
  }

  .group {
    position: relative;
    border: none;

    .form-input {
      background-color: white;
      color: black;
      font-size: 18px;
      padding: 1vh 0;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $sub-color;
      margin: 1vh 0;

      &:focus {
        outline: none;
      }
    }
    Select {
      width: 5vw;
    }

    .form-input-label {
      color: $sub-color;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      left: 1vw;
      top: -0.5vh;
    }
  }
  Button {
    margin-top: 1vh;
    margin-left: 12vw;
  }
}
