.details{
                
    margin-top: 10vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;

.buttons{
    display: flex;
    justify-content: space-between;
    background-color: darkgreen;
    
}

  .finished {
      color: rgba(153, 205, 50, 0.7);   
    }
    .not-finished {
      color: rgba(255, 99, 71, 0.7);
    }

}